body{
	margin: 0;
 	background-image: url('../images/blurred_background_web.JPG');
 	background-size: cover;
 	background-repeat:no-repeat;
 	font: 12px "Courier New", "Courier New", monospace;
}

a{
	color:#CCC;
	text-decoration:none;
}

#window{
	width:800px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
}
#header{
	font-size:40px;
	color:rgb(255,255,255);
	padding-top:300px;
	padding-bottom: 50px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color: rgb(225,225,225);
	text-align:center;
}
#main{
 	font-size:15px;
	color:rgb(50,50,50);
	padding-top:50px;
	text-align: center;
}
#signature{
	padding-left:50px;
}