/ Home page, default page rendered into application.html.haml

.tile#welcome
  %h1 Welcome!
  %p
    %b Systems Design Engineering.
    What exactly is it? What do Systems Design Engineers do? What is the program like? We get these questions all the time.