.section
  .section-tile#cominghere
    %h1 Coming Here
    %p Responses to the burning questions that have been asked about Systems Design Engineering.

  .section-tile#theexperience
    %h1 The Experience
    %p A collection of experiences, stories and insights into the experience that is Systems Design Engineering at the University of Waterloo.

  .section-tile#systemsandworld
    %h1 Systems + World
    %p Understanding how Systems Design students and graduates impact the world around us.

#aboutthis
  %h1 About this site.
  %p Blurb about site.