{% comment %}
Default layout. 
Things which use the default template:
- Index.html, as the site's main page

Things the default tempate should contain and account for:
- Navigation bar
- Main header
- Footer

- Includes all generic JS and CSS
{% endcomment %}



{% include JB/setup %}

<!DOCTYPE html>
<html lang="en">

  <head>
    {% comment %} site meta/title stuff {% endcomment %}
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% comment %} Some resources are loaded first because they're needed...earlier {% endcomment %}
    <link href="{{ BASE_PATH }}/{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ BASE_PATH }}/{{ ASSET_PATH }}/css/bootstrap-custom.css" rel="stylesheet">

    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/jquery.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/post.js"></script>

    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-transition.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-carousel.js"></script>
  </head>




  <body data-spy="scroll" data-target="#navbar" data-offsett="10">

    {% comment %} Navigation Bar {% endcomment %}
    <div id="navbar" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ BASE_PATH }}">WiS</a>
          <ul class="nav">
            {% for page in site.pages %}
              {% if page.tags contains 'content' %}
                <li><a href="#{{page.title}}">{{page.title}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" id="dlabel" role="button" data-toggle="dropdown" data-target="#" href="{{ BASE_PATH }}/index.html">
                Contact
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>whatissystems@gmail.com</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {% comment %}  Main bar {% endcomment %}
    <div class="hero-unit" id="header"> 
      <h1>What is Systems Design Engineering?</h1>
    </div>

    {% comment %} ALL THE CONTENT GOES HERE! {% endcomment %}
    {% comment %} Basically, index.html uses this default as it's template, and everything within the index.html file gets placed here {% endcomment %}
    <div class="content">
      {{ content }}
    </div>

    {% comment %} Footer {% endcomment %}
    <div class="container">
      <footer>
        <p>Brought to you by {{ site.author.name }}, with help from <a href="http://jekyllbootstrap.com" target="_blank">Jekyll Bootstrap</a>, <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>, <a href="http://balsamiq.com">Balsamiq</a>, and coffee.</p>
      </footer>
    </div>

    {% include JB/analytics %}
    {% comment %} Scripts necessary for this page {% endcomment %}
     <script type="text/javascript">
      $('#navbar').scrollspy()
      $('.dropdown-toggle').dropdown()
    </script>

    {% comment %} Load rest of scripts here {% endcomment %}
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-alert.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-modal.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-dropdown.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-scrollspy.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-tab.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-tooltip.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-popover.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-button.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-collapse.js"></script>
    <script src="{{ BASE_PATH }}/{{ ASSET_PATH }}/js/bootstrap-typeahead.js"></script> 
  </body>



</html>
